<?xml version="1.0" encoding="utf-8"?>
<SiteConfig>
  <add key="SiteName" value="Ninesky" />
  <add key="SiteTitle" value="1133" />
  <add key="SiteUrl" value="http://mzwhj.cnblogs.com" />
  <add key="MetaKeywords" value="关键词，" />
  <add key="MetaDescription" value="描述" />
  <add key="Copyright" value="Ninesky 版权所有&lt;a&gt;11&lt;/a&gt;" />
</SiteConfig>
